config/*
!config/config.example.js
!config/config.example.json
!config/config.md
prompts/*
!prompts/.gitkeep
node_modules/
resources/content/static/picture/anger.png
resources/content/static/picture/blandness.png
resources/content/static/picture/boredom.png
resources/content/static/picture/desired.png
resources/content/static/picture/excitement.png
resources/content/static/picture/joy.png
resources/content/static/picture/sadness.png
resources/content/static/picture/surprise.png
